* {
  margin: 0;
  padding: 0;
  transition: 1s ease;
  color: white;
}

::selection {
  background-color: #fff5;
}

body {
  background-color: #0d1a35;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4kwallpapers.com%2Fimages%2Fwallpapers%2Ffuturistic-3d-2560x1440-13107.jpg&f=1&nofb=1&ipt=3138ff5427779d87179cc78d5227bece46f64806daa0d90b55a72cfdffc5da70');
  background-size: 1 1;
  padding: 2em;
}

@font-face {
  font-family: 'ImminentLine';
  src: url('../Font/imminent-line.ttf') format('truetype');
}

h1, h2 {
  text-align: center;
  font-size: 2em;
}

h1 {
  font-family: 'ImminentLine', Arial;
  font-weight: lighter;
  margin: 1em;
  -webkit-text-stroke: 1px lightgray;
}

h2, .list a p {
  font-weight: bolder;
  letter-spacing: 3px;
  word-spacing: 6px;
}

textarea,
textarea:focus,
.list a,
select,
h1 {
  border: 3px solid white;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  background-color: transparent;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.list a {
  height: 350px;
  margin: 10px;
  flex: 1;
  min-width: 10cm;
  max-width: 15cm;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}

.list a p {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 180px;
}

.list a .flag {
  height: 300px;
  margin: 10px 0 10px 100px;
}

.list a:hover {
  font-size: 0;
  border: 0 solid transparent;
}

.list a:hover .flag {
  transform: scale(2.3);
}

.langlist {
  min-height: 80vh;
}

footer {
  position: absolute;
  bottom: 10px;
  padding: 1em;
  border-top: 2px solid white;
  width: 80vw;
  display: flex;
}

textarea {
  resize: none;
  width: 40vw;
}

select {
  text-align: center;
}

select:focus {
  outline: none;
}

a {
  color: white;
}

a:hover {
  color: lightblue;
}

img, select{
  border-radius: 10px;
  margin: 10px;
}

#logo{
  width: 50px;
}

p{
  font-family: Arial;
}