@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  z-index: 2;
}

body {
  background: 0 0/auto repeat radial-gradient(farthest-side at 0 100%,#c2c2ff 0,#c2e7ff 25%,#ffd1f9 50%,#ecebff 75%,#c2c2ff 100%),0 0 /auto repeat radial-gradient(farthest-corner at 100% 100%,#c2c2ff 0,#ecebff 25%,#ffd1f9 50%,#c2e7ff 75%,#c2c2ff 100%);
  background-blend-mode: overlay;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  background: linear-gradient(45deg, #0bf 0%, #28f 25%, #82f 60%, #28f 75%, #0bf 100%);
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  text-transform: uppercase;
  font-family: "Orbitron";
  font-weight: 900;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 700px;
}
.element {
  background: #eee8;
  margin: 1em;
  padding: 1em;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  transition: 0.5s;
}

@keyframes textclip {
    to {
      background-position: 200% center;
  }
}
@keyframes bganim {
  20% {
    rotate: 10deg;
    translate: 1em -7px;
  }

  40% {
    width: 110%;
    translate: 3px 1.2em;
  }

  60% {
    rotate: -25deg;
    translate: -5px 2px
        width: 100%;
  }

  80% {
    width: 90%;
    translate: -8px -2px;
  }

  100% {
  }
}

#desktop{
  width: 100%
}

#desktop .element {
    width: 20%;
  }
#desktop .element:hover {
    background: #ddd6;
  }
#desktop h1:hover {
  animation: textclip 3s ease-in-out infinite;
}
#desktop .background-image {
  animation: bganim 10s linear infinite;
  width: 5em;
}
#desktop .bgimg-box {
  width: 5em;
  height: 5em;
}
#desktop h1 {
  font-size: 2.5em;
}

#mobile{
  height: 100%
}

#mobile .element {
    width: 50%;
  }
#mobile .background-image {
    width: 0em;
  }
#mobile h1 {
    font-size: 150%;
  }

body{
  height: 100% !important;
}
